#root {
  --trans-green: #adff2f24;
}

body {
  margin: 3em 6em 3em 6em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.25);

  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.90);
}

nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 0;

  justify-content: center;
  width: 100%;
}
nav a {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 20%, rgba(255, 255, 255, 0.15) 60%, rgba(0, 0, 0, 0.3) 100%);
  
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  color: white;
  text-decoration: none;

  padding: 0.6em;
}
nav a:hover {
  transform: scale(1.02);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 20%, rgba(255, 255, 255, 0.15) 60%, rgba(0, 133, 111, 0.5) 100%);
}

.icon {
  width: 40px;
  height: 40px;
}
#person-icon {
  grid-area: person-icon;
  justify-self: right;
  margin-right: 0.4em;
  width: 40px;
}
#globe-icon {
  grid-area: globe-icon;
  justify-self: right;
  margin-right: 0.4em;
}
#creator-name {
  grid-area: name;
  text-align: left;
  align-self: center;
}
#social {
  grid-area: social;
  text-align: left;
  align-self: center;
}
#desc {
  grid-area: desc;
  align-self: center;
  text-align: left;

  background-color: var(--trans-green);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  padding: 0.4em;
}
#img {
  grid-area: img;
  max-width: 100%;
}
#btn {
  grid-area: btn;
}

.Cards {
  margin: 1em 0 1em 0;
}
.Card {
  display: inline-grid;
  row-gap: 1em;
  grid-template-columns: min-content auto;
  grid-template-areas: 
    'person-icon name'
    'globe-icon social'
    'desc desc'
    'img img'
    'btn btn';

  border-radius: 4px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.15);

  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
}

/* ADD A CREATOR - PAGE */
.create-post {
  display: grid;
  gap: 1em;

  grid-template-areas: 
  'name'
  'social-url'
  'desc'
  'img-url'
  'submit-btn';
}

#name {
  background-color: var(--trans-green);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  padding: 0.4em;
}
#social-url {
  background-color: var(--trans-green);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  padding: 0.4em;
}
#desc-input {
  background-color: var(--trans-green);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  padding: 0.4em;
  height: 300px;
}
#img-url {
  background-color: var(--trans-green);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  padding: 0.4em;
}

.submit-btn {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 20%, rgba(255, 255, 255, 0.15) 60%, rgba(0, 0, 0, 0.3) 100%);
  
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  color: white;
  text-decoration: none;
  
  padding: 0.4em;
}
.submit-btn:hover {
  transform: scale(1.02);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 20%, rgba(172, 255, 47, 0.15) 60%, rgba(172, 255, 47, 0.5) 100%);
}






/* GENERAL BTN STYLING */
.btn {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 20%, rgba(255, 255, 255, 0.15) 60%, rgba(0, 0, 0, 0.3) 100%);
  
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);

  color: white;
  text-decoration: none;
  
  padding: 0.4em;
  margin: 0.4em;
}
.btn:hover {
  transform: scale(1.02);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.15) 20%, rgba(172, 255, 47, 0.15) 60%, rgba(172, 255, 47, 0.5) 100%);
}